---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Coches eléctricos, energía solar y limpia | Tesla"
  description="Clone de la pagina web de tesla con astro y taiwlind"
>
  <main>
    <section></section>
  </main>
</Layout>
