---
import LandingPrimary from "@components/Landing-Primary.astro";
import ModelY from "@components/Model-Y.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Coches eléctricos, energía solar y limpia | Tesla"
  description="Clone de la pagina web de tesla con astro y taiwlind"
>
  <main class="h-screen overflow-auto snap-mandatory snap-y">
    <LandingPrimary />
    <ModelY />
  </main>
</Layout>
