<section class="relative h-screen text-black snap-center overflow-hidden">
  <article class="relative flex flex-col text-center h-full z-30">
    <header class="pt-24 flex-1">
      <h2 class="text-5xl font-bold mb-3">Disfrute de Tesla</h2>
      <p>Programe una prueba de producción hoy mismo</p>
    </header>
    <footer>
      <div class="mb-20">
        <a
          href="#"
          class="outline outline-current outline-[3px] py-[6px] px-14 rounded-sm bg-black/5 backdrop-blur-md hover:bg-white hover:text-black"
          >Prueba de conducción</a
        >
      </div>
    </footer>
  </article>

  <div class="absolute inset-0">
    <img
      src="./Model-Y.avif"
      alt="Modelo Y"
      class="object-cover h-full w-full"
    />
  </div>
</section>
